h1 {
  text-align: left;
  color: #F6AFCF;
    font-size: 30px
}
h2 {
  text-align: right;
   background-color: #F6AFCF;
    font-size: 30px;
}
h3 {
  text-align: center;
  color: #F6AFCF;
      font-size: 30px;
}